
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Prodotti</h1>
      <ul>
        <li>About</li>
        <li>Missione</li>
        <li>Servizi</li>
        <li>Social</li>
      </ul>
    </div>
    <div class="col">
      <h1>Account</h1>
      <ul>
        <li>Social</li>
        <li>Accedi</li>
      </ul>
    </div>
    <div class="col">
      <h1>Supporto</h1>
      <ul>
        <li>Contattaci</li>
        <li>Web chat</li>
    </ul>
    </div>
    <div class="footer-copy d-flex justify-content-center">
        <p>
            Copyright 2023 - Barca Giuseppe
        </p>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>