<div class="container min-vh-100 mt-5">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card mb-3 d-flex flex-column justify-content-center align-items-center">
                <img src="https://avatars.githubusercontent.com/u/24420080?s=280&v=4" class="card-img-top img-fluid" alt="..." style="width: fit-content; height: 200px">
                <div class="card-body">
                <h5 class="card-title">Steve Jobs Academy</h5>
                <p class="card-text">Istituto tecnico professionale</p>
                <p class="card-text"><small class="text-body-secondary">Ultimo aggiornamento 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3 d-flex flex-column justify-content-center align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIyXpy4Xm2KwDDYoq6pKyM7lNlbGPD3U4bfsnDqlC11Q&s" class="card-img-bottom img-fluid" alt="..." style="width: fit-content; height: 200px">
                <div class="card-body">
                <h5 class="card-title">Top Network</h5>
                <p class="card-text">Società di consulenza informatica.</p>
                <p class="card-text"><small class="text-body-secondary">Ultimo aggiornamento 6 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card mb-3 d-flex flex-column justify-content-center align-items-center">
                <img src="https://avatars.githubusercontent.com/u/24420080?s=280&v=4" class="card-img-top img-fluid" alt="..." style="width: fit-content; height: 200px">
                <div class="card-body">
                <h5 class="card-title">Steve Jobs Academy</h5>
                <p class="card-text">Istituto tecnico professionale</p>
                <p class="card-text"><small class="text-body-secondary">Ultimo aggiornamento 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3 d-flex flex-column justify-content-center align-items-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIyXpy4Xm2KwDDYoq6pKyM7lNlbGPD3U4bfsnDqlC11Q&s" class="card-img-bottom img-fluid" alt="..." style="width: fit-content; height: 200px">
                <div class="card-body">
                <h5 class="card-title">Top Network</h5>
                <p class="card-text">Società di consulenza informatica.</p>
                <p class="card-text"><small class="text-body-secondary">Ultimo aggiornamento 6 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>